@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&display=swap');

* {
  margin: 0;
  padding: 0;
}

$font-common: 'Raleway', sans-serif;
$last-color: #282828;
$primary-color: #000000;
$secondary-color: #040404;

@mixin flexCenter {
  align-items: center;
  display: flex;
}
@mixin flexBetween {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

body {
  background: #f6f4f4f1;
  color: #181818bf;
}

@media (max-width: 34.375rem) {
  :root {
    font-size: 0.75rem;
  }
}
