@import '/src/assets/styles/base.scss';

.col1 {
  width: 70%;
}

.col1 h1 {
  color: $last-color;
  font-weight: bold;
  font-size: 33px;
}

.options {
  @include flexCenter();
  border-bottom: 1px solid rgb(24 24 24 / 75%);
  gap: 2.5rem;
  height: 32px;
  list-style: none;
  margin-top: 15px;
  overflow-x: hidden;
  position: relative;
  white-space: nowrap;

  li {
    display: flex;
    gap: 1.8rem;

    button {
      border: none;
      color: #6b6b6b !important;
      font-weight: 500;
      font: 1rem $font-common;
      margin-bottom: 3px;
    }
  }
}

.dots {
  border: none;
  background: transparent;

  svg {
    height: 25px;
  }
}

.shadow {
  background: linear-gradient(90deg, transparent 0, #f7f7f7 44.44%);
  padding-left: 2rem;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99;

  #saved {
    border: 0.7px solid #0000007a;
    border-radius: 10px;
    background: white;
    min-width: 55px !important;
    padding: 0;

    svg {
      padding: 0;
      width: 20px;
    }
  }
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  gap: 2.1875rem;
  margin-top: 2.75rem;
}

.pic {
  @include flexCenter();
  border-radius: 76px;
  background: white;
  height: 7.8125rem;
  justify-content: center;
  min-width: 7.8125rem;

  img {
    height: 4.375rem;
    min-width: 4.375rem;
  }
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;

  a {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  h6 {
    color: $last-color;
  }
  h2 {
    color: $last-color;
    font: 1.3rem $font-common;
  }

  p {
    color: #666666;
    font: 14px $font-common;
    line-height: 25px !important;
    text-align: justify;
  }
}

.label svg {
  height: 20px;
  width: 20px;
}

.bookmarked {
  fill: blue;
}
.no-results {
  display: flex;
  flex-direction: row;
  p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;

    svg {
      height: 20px;
      width: 25px;
    }
  }
}

@media (max-width: 1024px) {
  .col1 {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .content {
    flex-wrap: wrap;
  }
  .notes {
    width: 100%;
  }
  .pic {
    margin: auto;
  }
}
