@import '/src/assets/styles/base.scss';

.navbar {
  @include flexBetween();
  background: #ffffff;
  padding: 1rem 1rem;

  .logo {
    @include flexCenter();

    button {
      border: none;
    }

    svg {
      height: 1.6875rem;
      width: 9rem;
    }

    .nav-opt {
      @include flexCenter();
      font: 0.875rem $font-common;
      gap: 1.5625rem;
      list-style: none;
      margin-left: 1.5625rem;

      button {
        border: 1px solid $last-color;
      }

      select {
        border: none;
        font: 0.875rem $font-common;

        option a {
          color: $secondary-color;
        }
      }

      .nav-items {
        cursor: pointer;
        color: $secondary-color;
      }
    }
  }

  .nav-side {
    display: flex;
    gap: 1.125rem;
    font: 0.8rem $font-common;
    margin-left: 1.5625rem;

    .side-icon {
      @include flexCenter();
      gap: 0.3125rem;

      svg {
        height: 1.25rem;
        width: 1.125rem;
      }
    }
  }
}

button {
  border-radius: 1.375rem;
  background: white;
  border: 0.05rem solid #0000007a;
  font: 90% $font-common;
  padding: 0.4rem 0.625rem;
}

hr {
  background: #3d3b3bbd;
}

a {
  color: $primary-color;
  text-decoration: none;
}

//hamburger menu

.hamburger {
  cursor: pointer;
  display: none;
  padding: 0.625rem;

  span {
    background-color: $primary-color;
    display: block;
    height: 0.1875rem;
    margin: 0.3125rem 0;
    width: 1.5625rem;
    #third {
      width: 1.125rem;
    }
  }
}

.sidebar {
  background: #ffffff;
  height: 100%;
  left: -100%;
  padding: 0.625rem;
  position: fixed;
  top: 0;
  transition: left 1s ease-in-out;
  width: 25vw;
  z-index: 100;

  .set {
    display: flex;
    justify-content: space-between;

    svg {
      width: 8rem;
    }

    .cut {
      border: none;
      background: none;
      color: #000000;
      font-size: 1.375rem;
      position: relative;
      width: 20% !important;

      &:hover {
        text-shadow: 0.125rem 0.125rem #ff0000;
      }
    }
  }

  .lists {
    font-size: 1rem;
    font: $font-common;
    list-style: none;
    line-height: 4rem;
    margin-top: 4rem;
    position: sticky;

    a {
      color: #000000;
      text-decoration: none;

      &:hover {
        color: #8b0000;
      }
    }
  }
}

.menu_items select {
  border: none;

  a {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-opt {
    display: none !important;
  }

  .nav-items {
    font-size: 1.125rem;
  }

  .hamburger {
    display: block !important;
  }

  .side-icon a {
    display: none;
  }

  .sidebar {
    display: block;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  .sidebar {
    width: 95%;
    padding: 0.7rem;
  }
}
