@import '/src/assets/styles/base.scss';

section {
  margin: 3.25rem 5.625rem;
}

.searchbox {
  border-radius: 0.5rem;
  border: 1px solid #d5d5d5;
  background: #ffffff;
  display: flex;
  gap: 0.5rem;
  padding: 1.25rem;

  svg {
    height: 1.875rem;
    width: 1.875rem;
  }

  input {
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

#searchtext {
  color: #a7a6a6;
  height: 0;
  letter-spacing: 0.0625rem;
  margin-top: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.searchbox:hover + #searchtext {
  opacity: 1;
  transition: box-shadow 0.5s cubic-bezier(0.37, 0.74, 0.15, 1);
}

@media (max-width: 768px) {
  section {
    margin: 20px 20px;
  }
}
@media (max-width: 425px) {
  section {
    margin: 1.8rem !important;
  }
}
