@import '/src/assets/styles/base.scss';

.col2 {
  width: 30%;

  h2 {
    color: $last-color;
    font: 1.4rem $font-common;
  }

  .line {
    background: $primary-color;
    border-radius: 4px;
    height: 3px;
    margin-top: 8px;
    width: 50px;
  }
}

.boxes {
  margin-top: 25px;

  .box {
    @include flexBetween();
    background: #ffffff;
    margin-bottom: 7px;
    padding: 16px;
    width: 91%;
    svg {
      width: 22px;
    }
  }

  .box-cont {
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .col2 {
    width: 100%;
  }
}
